
::-webkit-scrollbar {
  -webkit-appearance: auto;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.3);
}

.button {
  height: 100px;
  width: auto;
}

.overflow {
  overflow: scroll;
  height: 435px;
}

.bg {
  background-color: #e71d23;
 }

 .card {
  border: 3px solid #333940
 }

@font-face {
  font-family: 'pokemon';
  src: URL('pokemon.ttf') format('truetype');
}

.font {
  font-family: 'pokemon';
  font-size: 80px;
  color: yellow;
  text-shadow: -5px 0 #3661a7, 0 5px #3661a7, 5px 0 #3661a7, 0 -5px #3661a7;
}

 .border {
   border: 3px solid white
 }

 button:active {
    outline: none;
    border: none;
}